$quanityPxMult: 4px;

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.headline{
    color: $colorAccentText;
    font-weight: 500;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
    transition: color .3s ease-in;
    &:hover{
        color: $colorTextDarkMajorShade !important;
    }
}


.text-half-gray{
    color: $colorTextDarkHalfShade;
}

.text-accent-dark{
    color: $colorAccentText;
}


 @include marginGlobal('mt', 'margin-top', $quanityPxMult, 10);
 @include marginGlobal('mr', 'margin-right', $quanityPxMult, 10);
 @include marginGlobal('ml', 'margin-left', $quanityPxMult, 10);
 @include marginGlobal('mb', 'margin-bottom', $quanityPxMult, 10);

