$colorTextDark: #333333;
$colorAccentText: #1b2738;
$colorNoticeWarning: #fff3cd;
$colorNoticeSuccess: #d4edda;
$colorNoticeError: #f8d7da;
$colorTextDarkHalfShade: #999999;
$colorTextDarkMinorShade: #474747;
$colorTextDarkMajorShade: #5c5c5c;

$fontFamilyDefault: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$textXl: 2rem;
$textLg: 1.5rem;
$textMd: 1rem;
$textSm: .9rem;
$textXs: .7rem;

$iconXl: 2rem;
$iconLg: 1.5rem;
$iconMd: 1rem;
$iconSm: .9rem;
$iconXs: .7rem;