* {
    margin: 0;
    padding: 0;
    list-style: none;
}

i {
    color: $colorTextDarkHalfShade;
    font-size: 16px;
}

header {
    padding: 10px 0;

    li {
        &:last-child {
            margin: 0;
        }
    }
}

.header-top {
    .menu {
        &-item {
            &__lang {
                p {
                    cursor: pointer;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &__link {
                color: $colorTextDark;
                font-size: $textMd;
                background-color: transparent;
            }
            &__text {
                color: $colorTextDarkHalfShade;
            }
        }
    }
}

.footer {
    .menu {
        &-item {
            &__lang {
                p {
                    cursor: pointer;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &__link {
                color: $colorTextDark;
                font-size: $textMd;
                background-color: transparent;
            }
            &__text {
                color: $colorTextDarkHalfShade;
            }
        }
    }
}
