* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: $fontFamilyDefault;
}

i {
    color: $colorTextDarkHalfShade;
    font-size: 16px;
}

.wrapper, #app{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
main {
    flex: 1 0 auto;
}

header {
    padding: 0.5vw 0;
    li {
        &:last-child {
            margin: 0;
        }
    }
}

.header-top {
    .menu {
        &-item {
            &__lang {
                p {
                    cursor: pointer;
                    transition: color .3s ease-in-out;
                    &:hover{
                        color: $colorTextDark;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &__link {
                color: $colorTextDark;
                font-size: $textMd;
                background-color: transparent;
            }
            &__text {
                font-size: $textMd;
                color: $colorTextDarkHalfShade;
            }
        }
    }
}

.header-main{
    &-panel{
        width: 70%;
        &__search{
            margin: 0 5%;
            width: 100%;
        }
    }
    &-controls{
        width: 30%;
    }
}

.footer {
    background: #fafafa;
    flex: 0 0 auto;
    padding: 2vw 0;
    &-area{
        &__sidebar{
            i{
                font-size: $iconLg;
                color: $colorTextDark;
                cursor: pointer;
                transition: color .3s ease;
                &:hover{
                    color: $colorTextDarkMajorShade;
                }
            }
        }
        &__menu{
            .menu {
                flex: 1 0 160px;
                &-item {
                    &__link {
                        color: $colorTextDark;
                        font-size: $textSm;
                        background-color: transparent;
                    }
                    &__text {
                        color: $colorTextDark;
                        margin-bottom: 0.5rem;
                        font-size: $textSm;
                        font-weight: 500;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}